<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset = "ISO-8859-1" />
	<link href ="css/style.css" rel = "stylesheet"/>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<title>Wykaz podatników</title>
</head>
<body>
	<div class="container-fluid">
		<div class="row top-offset">
			<div class="col-md-6 offset-md-3">
				<div class="jumbotron">
					<h4 class="display-4">Wystąpił problem!</h4>
					<p class="lead">Podczas przetwarzania żądania pojawił się problem</p>
					<hr class="my-4">
					<ul>
						<li class="h5">Powróć do strony głównej</li>
						<li class="h5">Wypełnij formularz</li>
						<li class="h5">Przyciśnij przycisk wyszukaj</li>
					</ul>
					<p class="lead">
						<a class="btn btn-primary" href="/" role="button">Strona główna</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>